<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PowerBIAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  
  <applicationSettings>
    <PowerBIAPI.Properties.Settings>
      <setting name="ClientID" serializeAs="String">
        <value>790a0e1a-35d8-4a29-9575-a4efc47c6422</value>
      </setting>
      <setting name="AADAuthorityUri" serializeAs="String">
        <value>https://login.windows.net/common/oauth2/authorize/</value>
      </setting>
      <setting name="PowerBiAPI" serializeAs="String">
        <value>https://analysis.windows.net/powerbi/api</value>
      </setting>
      <setting name="PowerBiDataset" serializeAs="String">
        <value>https://api.powerbi.com/v1.0/myorg</value>
      </setting>
      <setting name="PowerBiDatasetBeta" serializeAs="String">
        <value>https://api.powerbi.com/beta/myorg</value>
      </setting>
    </PowerBIAPI.Properties.Settings>
  </applicationSettings> 
  
  
  <runtime> 
  
  
            <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
  
  
                      <dependentAssembly> 
  
  
                                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 
  
  
                                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" /> 
  
  
                      </dependentAssembly> 
  
  
            </assemblyBinding> 
  
  
  </runtime>
</configuration>